<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><span style="text-transform: uppercase; font-weight: 700;">Welcome</span> on board</h1>
    <p style="background-color: #fff; width: 250px; height: fit-content; padding: 10px 0px; font-weight:700, rgba(0, 0, 0, 0.24)">Your secret key is <%- code %></p>
    <a href="<%= url %>"></a>
</body>
</html>
