<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1 style="width: 300px; height: fit-content; padding: 12px 5px;"><span style="text-transform: uppercase; font-weight: 700;">Congratulations </span>!!!!</h1>

      <br /><br />

      <p>Use the Link below to activate your account</p>

      <br /><br /><br />

      <a style="font-weight: 900;" href="<%= url %>">Activate your Account</a>
    </div>
  </body>
</html>
